{
  "trailingComma": "es5",
  "semi": true,
  "singleQuote": true,
  "arrowParens": "avoid",
  "printWidth": 120,
  "tabWidth": 4,
  "indentSize": 4,
  "plugins": ["prettier-plugin-tailwindcss"]
}
